@model IEnumerable<SportsLeague.Models.Division>

@{
    ViewData["Title"] = "Division";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Divisions</h2>
<hr />

@foreach (var listDivision in Model)
{
    @Html.DisplayFor(modelDivision => listDivision.Name)

}
